@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,300italic,400italic,600,600italic,700italic,800italic);

body{
	background: #1abc9c;
	font-size: 13pt;
	padding: 5px;
}
.container{
	background: #bdc3c7;
	border-radius: 15px;
}
.red{
	color:#c0392b;
}
.card{
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	height: 220px;
	padding: 10px 10px;
	border-radius: 5px;
	background: black;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top:10px;
	word-break: break-word;
	font-size:12pt;
}

.white-card{
	background: white;
	color:black;
}

.white-card.selected{
	  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
	  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
	  animation: neon3 1.5s ease-in-out infinite alternate;
}

.hidden{
	display:none;
}

.select-card{
	margin-top:10px;
	margin-bottom:10px;
}


.player-cards.active .white-card{
	cursor: pointer;
}

.player-cards.disabled{
	opacity: 0.25;
}


.player-cards{
	border-top: black solid 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.loader-outer{
    width: 170px;
    height:15px;

}

.loader-icon{
	float:left;
	width: 15px;
	height:15px;
	margin:5px;
	background:#ecf0f1;
    animation-name: loading;
    animation-duration: 1s;	
    animation-iteration-count: infinite;
    border-radius: 7px

}

.loader-icon:nth-of-type(1){
	animation-delay: 1.25s;
}

.loader-icon:nth-of-type(2){
	animation-delay: 1.5s;
}

.loader-icon:nth-of-type(3){
	animation-delay: 1.75s;
}

.loader-icon:nth-of-type(4){
	animation-delay: 2s;
}

.loader-icon:nth-of-type(5){
	animation-delay: 2.25s;
}

.loader-icon:nth-of-type(6){
	animation-delay: 2.50s;
}

.loader-icon:nth-of-type(7){
	animation-delay: 2.75s;
}

.loader-icon:nth-of-type(8){
	animation-delay: 3s;
}

@keyframes loading{
	0% {
		background: black;
	}
	75% {
		background: #ecf0f1;
	}
	100% {
		background: black;
	}
}


@keyframes neon3 {
  from {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2b84bf, 0 0 70px #2b84bf, 0 0 80px #2b84bf, 0 0 100px #2b84bf, 0 0 150px #2b84bf;
  }
  to {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2b84bf, 0 0 35px #2b84bf, 0 0 40px #2b84bf, 0 0 50px #2b84bf, 0 0 75px #2b84bf;
  }
}